﻿
@{
    ViewData["Title"] = "Home";
    ViewBag.Page = "Home";
}






<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <span class="card-title" style="color:#fff;">Packages:</span>
                    </div>
                    <div class="col-md-6 col-sm-6 text-right">
                        <a href="~/package/addpackage" class="btn  btn-sm" style="color:#fff;">New Package</a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div id="package-div" style="height:250px;" class="container-list">
                    <table class="table table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>ShortDescription</th>
                                <th>Cost</th>
                                <th>AddedOn</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="package-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>







@section Scripts{
    <script>
        $(document).ready(() => {
  
            const loadPackages = () => {
                run_waitMe($('#package-div'), 3, 'loading');
                fetch(`${window.location.origin}/package/loadlist`)
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                    })
                    .then(result => {
                        let d = ``;
                        result.forEach((el, index) => {
                            d += `
                                <tr>
                                    <td>${el.index}</td>
                                    <td>${el.title}</td>
                                    <td>${el.shortDescription}</td>
                                    <td>${el.cost}</td>
                                    <td>${el.addedOn}</td>
                                    <td>
                                        <a href="${window.location.origin}/articles/viewarticle?id=${el.id}" class="btn btn-outline-success btn-sm view_article" data-id="${el.id}">view</a>
                                        <!--<a href="${window.location.origin}/articles/editarticle?id=${el.id}" class="btn btn-outline-primary btn-sm edit_article" data-id="${el.id}">edit</a>-->
                                        <button class="btn btn-outline-info btn-sm comment_article" data-id="${el.articleId}">comment(s)</button>
                                        <button class="btn btn-outline-danger btn-sm delete_article" data-id="${el.id}">delete</button>
                                    </td>
                                </tr>`;
                        });
                        if (result.length == 0) {
                            d = `<tr><td class='text-center' colspan='6'>No data found</td></tr>`;
                        }
                        $('#package-div').waitMe('hide');
                        $('#package-tbody').html(d);

                    })
                    .catch(err => {
                        console.log(err);
                        $('#package-div').waitMe('hide');
                    });
            }
          
            loadPackages();

            $('#authBtn').click(async () => {

                run_waitMe($('#form'), 3, 'adding');
                const fname = $('#fname').val();
                const lname = $('#lname').val();
                if (!fname || !lname) {
                    showNotification('Oops', 'fill in both first and last name is required', 'warning');
                    $('#form').waitMe('hide');
                    return;
                }

                const formdData = $('#form').serialize();

                fetch(`${window.location.origin}/author/addnew?${formdData}`)
                    .then(result => {
                        if (result.ok) {
                            return result.json();
                        }
                    })
                    .then(response => {
                        $('#form').waitMe('hide');
                        if (!response.check) {
                            showNotification('Oops', response.message, 'warning');
                            return;
                        }
                        showNotification('Great', response.message, 'success');
                        $('#fname').val('');
                        $('#lname').val('');
                        $('#new-author-modal').modal('hide');

                        loadAuthors();
                    })
                    .catch(err => {
                        console.log(err);
                        showNotification('Oops', err, 'warning');
                        $('#form').waitMe('hide');
                    })

            });

            $('#editBtn').click(async () => {

                run_waitMe($('#edit-form'), 3, 'editing');
                const fname = $('#edit-fname').val();
                const lname = $('#edit-lname').val();
                if (!fname || !lname) {
                    showNotification('Oops', 'fill in both first and last name is required', 'warning');
                    $('#edit-form').waitMe('hide');
                    return;
                }

                const authorView = $('#edit-form').serialize();
                fetch(`${window.location.origin}/author/edit?${authorView}`)
                    .then(result => {
                        if (result.ok) {
                            return result.json();
                        }
                    })
                    .then(response => {
                        $('#edit-form').waitMe('hide');
                        if (!response.check) {
                            showNotification('Oops', response.message, 'warning');
                            return;
                        }
                        showNotification('Great', response.message, 'success');
                        $('#edit-fname').val('');
                        $('#edit-lname').val('');
                        $('#edit-author-modal').modal('hide');

                        loadAuthors();
                    })
                    .catch(err => {
                        console.log(err);
                        showNotification('Oops', err, 'warning');
                        $('#edit-form').waitMe('hide');
                    })

            });

            $('#tagBtn').click(() => {
                run_waitMe($('#tagform'), 3, 'adding');
                const tagName = $('#tagName').val();
                if (!tagName) {
                    showNotification('Oops', 'Tag name is required', 'warning');
                    $('#tagform').waitMe('hide');
                    return;
                }

                const formdData = $('#tagform').serialize();
                fetch(`${window.location.origin}/tags/addnew?${formdData}`)
                    .then(result => {
                        if (result.ok) {
                            return result.json();
                        }
                    })
                    .then(response => {
                        $('#tagform').waitMe('hide');
                        if (!response.check) {
                            showNotification('Oops', response.message, 'warning');
                            return;
                        }
                        $('#tagform').val('');
                        $('#new-tag-modal').modal('hide');
                        loadTags();
                        showNotification('Great', response.message, 'success');
                    })
                    .catch(err => {
                        console.log(err);
                        showNotification('Oops', err, 'warning');
                        $('#tagform').waitMe('hide');
                    })
            });

            $('#editTagBtn').click(async () => {

                run_waitMe($('#editTagform'), 3, 'editing');
                const tagName = $('#edit-tagName').val();
                if (!tagName) {
                    showNotification('Oops', 'set a tag name is required', 'warning');
                    $('#editTagform').waitMe('hide');
                    return;
                }

                const authorView = $('#editTagform').serialize();
                fetch(`${window.location.origin}/tags/edit?${authorView}`)
                    .then(result => {
                        if (result.ok) {
                            return result.json();
                        }
                    })
                    .then(response => {
                        $('#editTagform').waitMe('hide');
                        if (!response.check) {
                            showNotification('Oops', response.message, 'warning');
                            return;
                        }
                        showNotification('Great', response.message, 'success');
                        $('#edit-tag-modal').modal('hide');

                        loadTags();
                    })
                    .catch(err => {
                        console.log(err);
                        showNotification('Oops', err, 'warning');
                        $('#editTagform').waitMe('hide');
                    })

            });

            $('#closeBtn').click(() => {
                $('#fname').val('');
                $('#lname').val('');
                $('#form').waitMe('hide');
                $('#new-author-modal').modal('hide');
            });

            $('#closeeditTagBtn').click(() => {
                $('#edit-tagName').val('');
                $('#editTagform').waitMe('hide');
                $('#edit-tag-modal').modal('hide');
            });

            $('#closeTagBtn').click(() => {
                $('#tagName').val('');
                $('#tagform').waitMe('hide');
                $('#new-tag-modal').modal('hide');
            });

            $('#closeEditBtn').click(() => {
                $('#edit-fname').val('');
                $('#edit-lname').val('');
                $('#edit-form').waitMe('hide');
                $('#edit-author-modal').modal('hide');
            });

            $(document).on('click', '.edit_author', (event) => {
                var idEl = event.target.attributes['data-id'];
                fetch(`${window.location.origin}/author/load/${idEl.value}`)
                    .then(result => {
                        if (result.ok) {
                            return result.json();
                        }
                    })
                    .then(response => {
                        $('#edit-fname').val(response.firstName);
                        $('#edit-lname').val(response.lastName);
                        $('#edit-id').val(response.id);
                        $('#edit-author-modal').modal('show');
                    })
                    .catch(err => {
                        console.log(err);
                    })

            });

            $(document).on('click', '.delete_author', (event) => {
                var idEl = event.target;
                idEl.innerHTML = 'deleting';
                var id = idEl.attributes['data-id'];

                console.log(id.value);
                fetch(`${window.location.origin}/author/delete/${id.value}`)
                    .then(result => {
                        if (result.ok) {
                            return result.json();
                        }
                    })
                    .then(response => {
                        if (!response.check) {
                            showNotification('Oops', response.message, 'warning');
                            idEl.innerHTML = 'delete';
                            return;
                        }

                        showNotification('Great', response.message, 'success');
                        loadAuthors();
                    })
                    .catch(err => {
                        console.log(err);
                        showNotification('Oops', err, 'warning');
                    })
            });

            $(document).on('click', '.edit_tag', (event) => {
                var idEl = event.target.attributes['data-id'];
                fetch(`${window.location.origin}/tags/load/${idEl.value}`)
                    .then(result => {
                        if (result.ok) {
                            return result.json();
                        }
                    })
                    .then(response => {
                        $('#edit-tagName').val(response.name);
                        $('#edit-tagId').val(response.id);
                        $('#edit-tag-modal').modal('show');
                    })
                    .catch(err => {
                        console.log(err);
                    })

            });

            $(document).on('click', '.delete_tag', (event) => {
                var idEl = event.target;
                idEl.innerHTML = 'deleting';
                var id = idEl.attributes['data-id'];

                console.log(id.value);
                fetch(`${window.location.origin}/tags/delete/${id.value}`)
                    .then(result => {
                        if (result.ok) {
                            return result.json();
                        }
                    })
                    .then(response => {
                        if (!response.check) {
                            showNotification('Oops', response.message, 'warning');
                            idEl.innerHTML = 'delete';
                            return;
                        }

                        showNotification('Great', response.message, 'success');
                        loadTags();
                    })
                    .catch(err => {
                        console.log(err);
                        showNotification('Oops', err, 'warning');
                    })
            });

            

           
        })
    </script>
}
