﻿@using CompanyAssets.Web.Models
@model EmployeeViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form asp-controller="Employee" asp-action="AddEmployee" method="post" enctype="multipart/form-data">
                    <fieldset>



                        <div class="row">

                            <div class="col-md-4">
                                <div class="outer-1">
                                    <label>Add Picture</label>
                                    <img src="~/images/noimage.jpg" id="img" class="img-responsive inner-image" style="width:100%;" />
                                </div>
                                <input class="custom-file-upload" type="file" id="File" asp-for="ImageUri" data-btn-text="Select a File" accept=".png,.jpg,.jpeg" />
                            </div>
                            <div class="col-md-8">
                                <div class="row">

                                    <div class="col-md-4">
                                        <label>FullName</label>
                                        <!-- input -->
                                        <div class="fancy-form">

                                            <input type="text" class="form-control" id="title" asp-for="FullName" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Select Gender</label>
                                        <div class="fancy-form fancy-form-select">
                                            <select class="form-control select2" id="gender" asp-for="Gender" name="Gender">
                                                <option value="">--- Select Class ---</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                
                                                
                                            </select>
                                            <i class="fancy-arrow-double"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- select2 -->
                                        <label>Attach Department</label>
                                        <div class="fancy-form fancy-form-select">
                                            <select class="form-control select2" id="DepartmentId" asp-for="DepartmentId" name="DepartmentId">
                                                <option value="">--- Select Department ---</option>
                                            </select>
                                            <i class="fancy-arrow-double"></i>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">

                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="email" class="form-control" id="email" asp-for="Email" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Added On</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="date" class="form-control" id="date" asp-for="AddedOn" placeholder="Select date">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                       



                        <div>
                            <button class="btn btn-danger btn-sm">Cancel</button>
                            <button class="btn btn-success btn-sm">Save</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(() => {


            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#File").change(function () {
                readURL(this);
            });
        

            fetch(`${window.location.origin}/department/Getdeparts`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText)
                    }
                    return response.json()
                })
                .then(result => {
                    result.d.forEach((element, index) => {
                        $('#DepartmentId').append(new Option(element.title, element.id));
                    });
                })
                .catch(error => {
                    console.log(error);
                    $('#DepartmentId').html(new Option('No departments', ''));
                });
        

            



        });
    </script>
}