﻿
@using CompanyAssets.Core.Models
@model Employee
@{
    ViewData["Title"] = "ViewEmployee";
}



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">

                <div class="panel-heading">

                    <span class="elipsis">
                        <!-- panel title -->
                        <strong style="color:#fff;">EMPLOYEE [@Model.FullName]</strong>
                    </span>
                    <hr />



                </div>
            </div>

            <!-- panel content -->
            <div class="panel-body">
                <form id="form">
                    <input value="@Model.Id" id="Id" name="Id" type="hidden" />
                    <fieldset>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Profile Picture</label>
                                <div class="outer-1">
                                    <img src="@Model.ImageUri" id="img" class="img-responsive inner-image" style="width:100%;" />
                                </div>
                                <div class="margin-top-60">
                                    <span>
                                        <!-- panel title -->
                                        <a asp-action="DeleteEmployee" asp-route-id="@Model.Id" data-id="@Model.Id" class="btn btn-danger btn-sm hidden delete_me"><i class="fa fa-trash"></i>&nbsp;&nbsp; Delete</a>



                                    </span>


                                </div>





                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Full Name</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" value="@Model.FullName" id="name" name="name" placeholder="Name" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Gender</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" id="gender" name="gender" placeholder="Gender" value="@Model.Gender" >
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Email</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" id="phone" name="Phone" placeholder="Contact" value="@Model.Email" >
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Department</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" id="email" name="email" placeholder="email" value="@Model.DepartmentId" >
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>AddedOn</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" id="dateofbirth" name="Dateofbirth" placeholder="Null" value="@Model.AddedOn" >
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>

                    </fieldset>
                </form>
            </div>
            <!-- /panel content -->

        </div>
    </div>
</div>



