﻿@using CompanyAssets.Web.Models
@model DepartmentViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form asp-controller="Department" asp-action="AddDepartment" method="post" enctype="multipart/form-data">
                    <fieldset>



                        <div class="row">
                            <div class="col-md-6">
                                <label>Title</label>
                                <!-- input -->
                                <div class="fancy-form">

                                    <input type="tel" class="form-control" id="title" asp-for="Title" placeholder="Title">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Description</label>
                                <!-- input -->
                                <div class="fancy-form">
                                    <input type="tel" class="form-control" id="description" asp-for="Description" placeholder="Description">
                                </div>
                            </div>
                        </div>
                        <div class="row">



                            <!--<div class="col-md-6">
                            <label>Department Head</label>-->
                            <!-- input -->
                            <!--<div class="fancy-form">
                                    <input type="text" class="form-control" id="head" asp-for="DepartmentHead" placeholder="HeadedBy">
                                </div>
                            </div>-->
                            <div class="col-md-6">
                                <!-- select2 -->
                                <label>Headed By</label>
                                <div class="fancy-form fancy-form-select">
                                    <select class="form-control select2" id="EmployeeId" asp-for="EmployeeId" name="EmployeeId">
                                        <option value="">--- Select Head ---</option>
                                    </select>
                                    <i class="fancy-arrow-double"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Created On</label>
                                <input type="date" class="form-control" id="head" asp-for="DepartmentHead" placeholder="HeadedBy">

                            </div>

                        </div>



                        <div>
                            <button class="btn btn-danger btn-sm">Cancel</button>
                            <button class="btn btn-success btn-sm">Save</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(() => {


            fetch(`${window.location.origin}/employee/getemployees`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText)
                    }
                    return response.json()
                })
                .then(result => {
                    result.d.forEach((element, index) => {
                        $('#EmployeeId').append(new Option(element.title, element.id));
                    });
                })
                .catch(error => {
                    console.log(error);
                    $('#EmployeeId').html(new Option('No Employees', ''));
                });
        

        });
    </script>
}