﻿@using CompanyAssets.Web.Models
@model List<DepartmentViewModel>
@{
    ViewBag.Title = "Departments Page";

}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">
            

                <div class="panel-heading">

                    <span class="elipsis">
                        <!-- panel title -->
                        <strong style="color:#ffffff;">ALL DEPARTMENTS [@ViewBag.Count]</strong>  &nbsp;&nbsp;&nbsp;&nbsp; <a style="float:right; color:#ffffff;" href="~/department/adddepartment">Add new</a>
                    </span>
                </div>

                </div>
            <div class="card-body">

                <!-- panel content -->
                <div class="panel-body">
                    <table class="ui celled table table-hover table-condensed" id="departmentTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Headed By</th>
                                <th>Created On</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody id="departmentbody">
                            @{
                                if (Model != null)
                                {
                                    if (Model.Count != 0)
                                    {
                                        var index = 1;
                                        foreach (var _depart in Model)
                                        {
                                            <tr class="tr_col" style="cursor:pointer;" onclick="window.location.href = `${window.location.origin}/department/viewdepartment/@_depart.Id`">
                                                <td>@index</td>
                                                <td>@_depart.Title</td>
                                                <td>@_depart.Description</td>
                                                <td>@_depart.DepartmentHead</td>
                                                <td class="center">@_depart.CreatedOn</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-success"href="~/department/editdepartment" id="">Edit</button>
                                                    <button type="button" class="btn btn-sm btn-danger" id="">View</button>
                                                </td>

                                            </tr>
                                            index++;
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /panel content -->

                <div></div>
                </div>
            </div>
        </div>
    </div>



@section Scripts{
    <script>
        $(document).ready(() => {
            $('table').DataTable({
                dom: 'Bfrtip',
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 rows', '25 rows', '50 rows', 'Show all']
                ],
                buttons: [
                    'pageLength',
                    {
                        extend: 'excel',
                    },
                    {
                        extend: 'pdf',
                        messageBottom: null
                    },
                    {
                        extend: 'print',
                        messageTop: null,
                        messageBottom: null
                    }
                ],
                responsive: true,

            });
        });
    </script>
}






