﻿@using CompanyAssets.Core.Models
@model Department
@{
    ViewData["Title"] = "ViewDepartment";
}



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">

                <div class="panel-heading">

                    <span class="elipsis">
                        <!-- panel title -->
                        <strong style="color:#fff;">DEPARTMENT [@Model.Title]</strong>
                    </span>
                    <hr />



                </div>
            </div>

            <!-- panel content -->
            <div class="panel-body">
                <form id="form">
                    <input value="@Model.Id" id="Id" name="Id" type="hidden" />
                    <fieldset>
                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Full Name</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" value="@Model.Title" id="title" name="title" placeholder="Name" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Gender</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" id="gender" name="gender" placeholder="Gender" value="@Model.Description" readonly>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" id="phone" name="Phone" placeholder="Contact" value="@Model.CreatedOn" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Department</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" id="email" name="email" placeholder="email" value="@Model.DepartmentHead" readonly>
                                        </div>
                                    </div>

                                </div>
                                <div class="margin-top-60">
                                    <span>
                                        <!-- panel title -->
                                        <a asp-action="DeleteDepartment" asp-route-id="@Model.Id" data-id="@Model.Id" class="btn btn-danger btn-sm hidden delete_me"><i class="fa fa-trash"></i>&nbsp;&nbsp; Delete</a>



                                    </span>


                                </div>



                            </div>

                        </div>

                    </fieldset>
                </form>
            </div>
            <!-- /panel content -->

        </div>
    </div>
</div>



