﻿
@using CompanyAssets.Web.Models
@model NewAssetViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form asp-controller="Asset" asp-action="AddAsset" method="post" enctype="multipart/form-data">
                    <fieldset>



                        <div class="row">
                            <div class="col-md-6">
                                <label>Title</label>
                                <!-- input -->
                                <div class="fancy-form">

                                    <input type="tel" class="form-control" id="title" asp-for="Title" placeholder="Title">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Description</label>
                                <!-- input -->
                                <div class="fancy-form">
                                    <input type="text" class="form-control" id="description" asp-for="Description" placeholder="Description">
                                </div>
                            </div>
                        </div>
                        <div class="row">



                            <div class="col-md-6">
                                <!-- select2 -->
                                <label>Attach Department</label>
                                <div class="fancy-form fancy-form-select">
                                    <select class="form-control select2" id="DepartmentId" asp-for="DepartmentId" name="DepartmentId">
                                        <option value="">--- Select Department ---</option>
                                    </select>
                                    <i class="fancy-arrow-double"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Created On</label>
                                <input type="date" class="form-control" id="head" asp-for="CreatedOn" placeholder="date">

                            </div>

                        </div>



                        <div>
                            <button class="btn btn-danger btn-sm">Cancel</button>
                            <button class="btn btn-success btn-sm">Save</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(() => {

            fetch(`${window.location.origin}/department/Getdeparts`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText)
                    }
                    return response.json()
                })
                .then(result => {
                    result.d.forEach((element, index) => {
                        $('#DepartmentId').append(new Option(element.title, element.id));
                    });
                })
                .catch(error => {
                    console.log(error);
                    $('#DepartmentId').html(new Option('No departments', ''));
                });


            
        });
    </script>
}