﻿
@using CompanyAssets.Core.Models
@model Asset
@{
    ViewData["Title"] = "ViewAsset";
}



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">


            </div>

            <!-- panel content -->
            <div class="panel-body">
                <form id="form">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-4">

                                <div class="margin-top-60">
                                    <span>
                                        <!-- panel title -->
                                        <a asp-action="DeleteAsset" asp-route-id="@Model.AssetId" data-id="@Model.AssetId" class="btn btn-danger btn-sm hidden delete_me"><i class="fa fa-trash"></i>&nbsp;&nbsp; Delete</a>



                                    </span>


                                </div>





                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Title</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" value="@Model.Title" id="name" name="name" placeholder="Name" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Description</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" id="gender" name="gender" placeholder="Gender" value="@Model.Description" >
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Department</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" id="phone" name="Phone" placeholder="Contact" value="@Model.DepartmentId" >
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label>AddedOn</label>
                                        <!-- input -->
                                        <div class="fancy-form">
                                            <input type="tel" class="form-control" id="dateofbirth" name="Dateofbirth" placeholder="Null" value="@Model.CreatedOn" >
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>

                    </fieldset>
                </form>
            </div>
            <!-- /panel content -->

        </div>
    </div>
</div>



